<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CineMinimum</title>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        body {
            background-image: url('/Images/red-curtains.jpg');
        }
    </style>
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light  ">
            <a class="navbar-brand" href="index.html">
                <img src="~/Images/logo.png" style=width:150px height:300px; />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="text-right">
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto text-right">
                        <li class="nav-item active">
                            <a href="index.html" button type="button" class="btn btn-warning  ml-4"> <b>Türler</b> </a>
                        </li>
                        <li class="nav-item active">
                            <a href="index.html" button type="button" class="btn btn-warning  ml-4"> <b>Filmler</b> </a>
                        </li>
                        <li class="nav-item active">
                            <a href="index.html" button type="button" class="btn btn-warning  ml-4"> <b>Haftalar</b> </a>
                        </li>
                        <li class="nav-item active">
                            <a href="index.html" button type="button" class="btn btn-warning  ml-4"> <b>Salonlar</b> </a>
                        </li>
                        <li class="nav-item active">
                            <a href="index.html" button type="button" class="btn btn-warning  ml-4"> <b>Seanslar</b> </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Page/LoginPage.html" button type="button" class="btn btn-warning ml-4 "> <b>Giriş Yap</b> </a>
                        </li>
                    </ul>

                </div>
            </div>


        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - NetCoreMovieTheater - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/jquery/jquery.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
